Temp/
Demo/.metadata/
Demo/sws-master/.settings/
Demo/WS-100-EchoWebService/.settings/
Demo/WS-100-EchoWebService/target/
Demo/WS-110-ClientWebServices/.settings/
Demo/WS-110-ClientWebServices/target/
*.classpath
*.project
Demo/WS-200-OXM/.settings/
Demo/WS-200-OXM/.gitignore
**/.metadata/**
**/.settings/**
**/Servers/**
Docs/*.tmp
Docs/~*
Docs/Older/* - Copy.doc
Demo/Test/GeneratedOLD/**
Demo/Test/Generated/**
