<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

 	<!--  
	<bean id="messageFactory"
		class="org.springframework.ws.soap.axiom.AxiomSoapMessageFactory" />
  -->
  <bean id="messageFactory"
		class="org.springframework.ws.soap.axiom.AxiomSoapMessageFactory" />
		
    <context:component-scan base-package="corso.spring.ee.demo.ws.basic"/>

    <sws:annotation-driven/>


 	<!-- Interceptors -->
  		<bean id="soapLoggingInterceptor"
           class="org.springframework.ws.soap.server.endpoint.interceptor.SoapEnvelopeLoggingInterceptor">
           <property name="logRequest" value="true" />
           <property name="logResponse" value="true" />
           <property name="logFault" value="true" ></property>
      	</bean>
  
  
  
  
  <!-- Generazione dinamica -->
    <!--<sws:dynamic-wsdl id="echoRequest" 
    	portTypeName="echoService" 
    	locationUri="/echoService/"
targetNamespace="http://www.springframework.org/spring-ws/samples/echo">
        <sws:xsd location="/WEB-INF/echo.xsd"/>
    </sws:dynamic-wsdl>
    
     -->
     
      <!--<sws:dynamic-wsdl 
     	id="echoUser" 
     	portTypeName="echoUserService" 
     	locationUri="/echoUserService/"
        targetNamespace="http://ee.spring.corso/ws/UserService">
        <sws:xsd location="/WEB-INF/UserService.xsd"/>
    </sws:dynamic-wsdl>
      -->

</beans>
